<h1>Prueba 3</h1>

<div>
    <button (click)="crearEstudiante()">
    Crear estudiante Luz
  </button>
    <br>
    <br>
    <button (click)="buscarEstudiantes()">
    Ver todos los estudiantes
  </button>
    <br>
    <br>
    <button (click)="buscarEstudiante()">
    Obtener estudiante de Id 3
  </button>
    <br>
    <br>
    <button (click)="actualizarEstudiante()">
    Actualizar estudiante de Id 1
  </button>
    <br>
    <br>
    <button (click)="eliminarEstudiante()">
    Eliminar estudiante de Id 2
  </button>
</div>